mixin section(section_name, data)
	.section
		h2 #{section_name}
		- for (var i in data) {
			- var d = data[i]
			.element
				h3=  d.what
				div= d.when
				ul
					- for (var j in d.comment)
						li= d.comment[j]
				p
					<strong>#{d.where.name}</strong>
					| <br/>
					| #{d.where.where} 
					| <br/>
					| #{d.where.about}
		- }
!!!
html
	head
		meta(charset="utf-8")
		title Cristian Arenas
		link(type="text/css",rel="stylesheet",href="http://foundation.zurb.com/assets/css/marketing.css")

	body
		.row
			section.small-12.columns
				h1= who
				dl
					- for (var meta in contact)
						dt= meta
						dd= contact[meta]
				mixin section("Education", studies)
				mixin section("Work Experience", work)
		.row
			section.small-12.columns
				h2 Languages
				- for (var lang_name in languages) {
					- var experience = languages[lang_name]
					.skill
						dl
							dt= lang_name
							dd= experience
				- }
		.row
			section.small-12.columns
				h2 Skills
				.row
				- for (var skill_category in skills) {
					- var s = skills[skill_category]
					.skill.small-4.columns
						h3= skill_category
						ul
							- for (var j in s)
								li= s[j]
				- }
			mixin section("Extracurricular Activities", extra)

