
!!!
htmltest->[object Object][object Object][object Object]<-test
    head
        meta(charset="utf-8")
        title Cristián Arenas Ulloa
        link(type="text/css", rel="stylesheet", href="../assets/css/foundation.min.css")
    body.row
            h1 Cristián Arenas Ulloa
            
            p.small-12.medium-6.columns
                strong profile
                br
                | I’ve been a self-taught programmer and robotic hobbyist since I was 12 years old<br/>I’m a bit competitive, that’s why I love being surrounded by smart people.

            
            p.small-12.medium-6.columns
                strong about me
                br
                | I love both loose leaf tea and fresh ground coffee.<br/>I like to chat, watch movies and explore new places while riding my bike.

            
            p.small-12.medium-6.columns
                strong email
                br
                | cristian.arenas@gmail.com
            
            p.small-12.medium-6.columns
                strong phone
                br
                | +56 9 9556 5041
            
            p.small-12.medium-6.columns
                strong address
                br
                | Alvarez 1822 dept. 1110A, Viña del Mar
            
            p.small-12.medium-6.columns
                strong github
                br
                | github.com/NinoScript
            
            p.small-12.medium-6.columns
                strong stackoverflow
                br
                | stackoverflow.com/users/1904287
            
            h1 Work Experience
            
            .row
                .small-12.large-4.columns
                    h4 Supervisor
                    
                    div August 2013 – November 2013
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Ingemás S.A.</strong>, Quilpué <br/> Logistics solutions.")
                    |  @ Ingemás
                    
                .small-12.large-8.columns: ul
                    
                    li Bla
                    
                    li bla
                    
                    li bla...
                    
            
            .row
                .small-12.large-4.columns
                    h4 Programming Tutor
                    
                    div March 2013 – October 2013
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>CIAC - UTFSM</strong>, Valparaíso <br/> Branch of UTFSM dedicated to help freshmen.")
                    |  @ CIAC
                    
                .small-12.large-8.columns: ul
                    
                    li Programming lessons in Python for UTFSM freshmen.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Data Visualization Engineer
                    
                    div November 2012 – January 2013
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Dospuntocero ltda.</strong>, Viña del Mar <br/> Web development agency focused in web consulting.")
                    |  @ Dospuntocero
                    
                .small-12.large-8.columns: ul
                    
                    li Data visualization using D3.js for the WHO, financed by the EU.
                    
            
            .row
                .small-12.large-4.columns
                    h4 R&amp;D Engineer Intern
                    
                    div December 2011 – February 2012
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Synopsys Chile R&amp;D Center</strong>, Santiago <br/> One of the largest companies in the EDA industry.")
                    |  @ Synopsys
                    
                .small-12.large-8.columns: ul
                    
                    li Worked on the scalability of CATS.
                    
                    li Debugged a matrix transformation firmware.
                    
                    li Implemented a multicast file transfer protocol using Boost.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Firmware Engineer
                    
                    div February 2011 – July 2011
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>WiseConn Engineering S.A.</strong>, Viña del Mar <br/> Efficient water distribution and irrigation systems.")
                    |  @ WiseConn
                    
                .small-12.large-8.columns: ul
                    
                    li Made an MSP430 bootloader to update firmware via SD card and/or XBee.
                    
                    li Polished and documented Ruby command line tools.
                    
            
            .row
                .small-12.large-4.columns
                    h4 R&amp;D Engineer Intern
                    
                    div December 2010 – January 2011
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>WiseConn Engineering S.A.</strong>, Viña del Mar <br/> Efficient water distribution and irrigation systems.")
                    |  @ WiseConn
                    
                .small-12.large-8.columns: ul
                    
                    li Improved energy efficiency by reducing access to peripherals.
                    
                    li Developed a series of Ruby command line tools for coworkers.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Programming Teacher
                    
                    div July 2009 – November 2010
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Universidad Técnica Federico Santa María</strong>, Valparaíso <br/> One of the most important universities in Chile.")
                    |  @ UTFSM
                    
                .small-12.large-8.columns: ul
                    
                    li Basic Lego RCX programming with NQC.
                    
                    li Up to 103 students, ranging from 12 to 50 years.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Programming Teacher Assistant
                    
                    div February 2008 – June 2009
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Universidad Técnica Federico Santa María</strong>, Valparaíso <br/> One of the most important universities in Chile.")
                    |  @ UTFSM
                    
                .small-12.large-8.columns: ul
                    
                    li Basic Lego RCX programming with NQC.
                    
                    li Designed lab experiences.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Home Tutor
                    
                    div December 2006 – December 2009
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Viña del Mar</strong>, Chile <br/> Touristic city.")
                    |  @ Viña del Mar
                    
                .small-12.large-8.columns: ul
                    
                    li Private math and physics lessons for high-school students.
                    
            
            .row
                .small-12.large-4.columns
                    h4 Software Developer
                    
                    div December 2004 – December 2006
                    
                    
                    p.has-tip(data-tooltip='',
                        title="<strong>Dospuntocero ltda.</strong>, Viña del Mar <br/> Web development agency focused in web consulting.")
                    |  @ Dospuntocero
                    
                .small-12.large-8.columns: ul
                    
                    li Worked for big clients like “Salo S.A.” and “El Faro maritime services”.
                    
                    li Worked in Web 2.0 oriented billing system using ActionScript.
                    
            
        script(type='text/javascript', src="../assets/js/jquery.js")
        script(type='text/javascript', src="../assets/js/custom.modernizr.js")
        script(type='text/javascript', src="../assets/js/foundation.all.js")
        script(type='text/javascript')
            $(document).foundation().foundation('joyride', 'start');
