mixin section(section_name, data)
	.section.row
		h2 #{section_name}
		- for (var i in data) {
			- var d = data[i]
			.element.small-12.columns
				.small-4.columns
					h4=  d.what
					- if (d.when) {
						div= d.interval[0] + " – "+ d.interval[1]
					- }
					- if (d.where)
						p.has-tip(data-tooltip="",
							title="<strong>#{d.where.fullname}</strong>, #{d.where.where} <br/> #{d.where.comment[0]}")
							|  @ #{d.where.name}
				.small-8.columns
					ul
						- for (var j in d.comment)
							li= d.comment[j]
		- }
!!!
html
	head
		meta(charset="utf-8")
		title Cristián Arenas Ulloa
		link(type="text/css", rel="stylesheet", href="../assets/css/foundation.min.css")

	body
		.row
			h1= who
			- for (var meta in contact)
				section.small-12.medium-6.columns
					p
						<strong>#{meta}</strong>
						| <br/>
						| #{contact[meta]}
		mixin section("Education", studies)
		mixin section("Work Experience", work)

		.row
				h2 Skills
				- for (var skill_category in skills) {
					- var s = skills[skill_category]
					section.small-6.columns
						mixin section(skill_category, s)
				- }
		mixin section("Extracurricular Activities", extra)
		script(type='text/javascript', src="../assets/js/jquery.js")
		script(type='text/javascript', src="../assets/js/custom.modernizr.js")
		script(type='text/javascript', src="../assets/js/foundation.all.js")
		script(type='text/javascript')
			$(document).foundation().foundation('joyride', 'start');

